{% include 'userheader.html' %}


<br><br><br> <br><br><br> <br><br><br> <br><br><br> 

<center>


        <h3 >Upload audio</h3>
     

    <form action="" method="post"  enctype="multipart/form-data">

      <table class="table" style="width: 400px;">

      
       <tr>
        <th>details</th>
        <td>
            <input type="text" class="form-control mt-3" required placeholder="Sparepart" name="det" id="" >

        </td>
       </tr>
                
        
       <tr>
        <th>audio samples</th>
        <td>

            <input class="form-control" type="file"  placeholder="Image" name="image" id="">
        </td>
       </tr>
                  
    
              
        
        
         
       <tr>
            <td colspan="2" align="center">

                <input class="btn btn-success mt-3 col-4" type="submit"  value="submit" name="submit">
            </td>
       </tr>
         </div>

    </form>
</table>

</center>

</form>
</center>
</section>	
</body>


					</div>
					</div>
				</div>
			</div>
		</div>
	</header>

    <br><br>
  


{% include 'footer.html' %}